.about-container {
    padding: 0 10% 10% 10% ;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
  }
  
 /* Add animation for the title */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #000000;
  opacity: 0; /* Initially invisible */
  animation: fadeInUp 1s ease-in-out forwards; /* Apply the animation */
}

  
  .about-intro p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .mission-vision {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .mission, .vision {
    width: 45%;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
  }
  
  .team {
    margin-bottom: 40px;
    
   
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  .team-member {
    text-align: center;
    
  }
  
  .team-member img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  
  .testimonials {
    margin-bottom: 40px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .testimonial {
    margin-bottom: 20px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .stat-item {
    text-align: center;
    
  }
  
  .stat-item h3 {
    font-size: 32px;
    color: #41be0f;
  }
  

  @media (max-width: 768px) {
    p {
      font-size: 11px;
    }
    h1,h2,h3{
      font-size: 15px;
    }
  
    .selected-car-details {
      flex-direction: column;
    }
  }