/* Footer.css */
/* Footer.css */

.footer {
  background-color: #727d80; /* Dark background */
  color: white; /* White text */
  padding: 20px;
  text-align: center;
  /* Remove bottom positioning */
  margin-top: auto; /* Push the footer to the bottom when there's little content */
 
}

  
  .footer-content {
  
    margin: auto; /* Center the content */
  }
 
  